* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: #1ab2ba;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-background: #b7eedc;
  --color-background-secondary:#68BD9E;
  --color-button: #52E0AC;
  --color-secondary:#8ED0B8;
  --color-button-hover: #229169;
  --color-white: #FEFCFC;
  --color-black: rgb(41, 41, 41);
  --br-sm-2: 14px;
  --box-shadow-1: 1.5px 5px 2px rgba(0,0,0,.25);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-background);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

body nav {
  margin: 10px;
  position: relative;
  height: 55px;
  border-radius: 35px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-white);
}

body nav a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: bold;
}

body nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  gap: 1rem;
}

body nav .nav-right a {
  font-size: 1.7rem;
}

body nav .nav-right > li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-button-hover);
          text-decoration-color: var(--color-button-hover);
  text-decoration-thickness: 2px;
}

body nav .nav-right > li:hover a {
  color: rgba(27, 27, 27, 0.648);
}

body .content {
  font-size: 2.5rem;
  position: relative;
  margin: 10px;
  padding: 25px;
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

body .content button {
  padding: .5rem;
}

body .content .content-left {
  font-weight: bold;
  width: 30%;
}

body .content .content-left h1 {
  padding-bottom: 1rem;
  font-size: 3.5rem;
}

body .content .content-right {
  width: 50%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body .content .content-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .content-right ul button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .content .content-right h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  font-weight: bold;
}

body .content .content-right li {
  margin: 2rem;
  padding: 1rem;
  background-color: var(--color-white);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  border-radius: 5px;
  border: 1px solid var(--color-secondry);
  opacity: .9;
}

body .content .content-right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 2rem;
  font-weight: bold;
}

body .content form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .6rem;
}

body .content form input {
  padding: .2rem 1rem;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  border-radius: 5px;
  border-bottom: 2px solid var(--color-secondary);
  outline: none;
}

body .content form input:focus {
  border-bottom: 4px solid var(--color-button-hover);
}

body .content form button {
  margin-top: .5rem;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: .5rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto 10px 10px;
  height: 50px;
  border-radius: 35px;
  background: var(--color-white);
}

body footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  height: 2rem;
}

body footer .link img {
  height: 2.5rem;
}

body .sec-background {
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  line-height: 0;
}

body .sec-background svg {
  position: absolute;
  display: block;
  right: 0;
  fill: var(--color-background-secondary);
  -webkit-transform: scale(10deg);
          transform: scale(10deg);
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}

.overlay .modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  z-index: 2;
  width: 350px;
  min-height: 300px;
  background-color: #faf4f4fb;
  border-radius: 5px;
  padding: 1.3rem;
  gap: 0.4rem;
}

.overlay .btn-close {
  right: 0;
  margin: 1rem;
  font-size: 1rem;
  padding: .5rem .7rem;
  border-radius: 50%;
}

.overlay form {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: .5rem;
  font-size: 2rem;
}

.overlay form label {
  font-weight: bold;
  font-size: 2.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.overlay form input {
  border-radius: 5px;
  width: 100%;
}

.overlay form textarea {
  border-radius: 5px;
  height: 15rem;
  width: 24rem;
  outline: none;
  padding: 1rem;
  line-height: 1em;
  resize: none;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.overlay form button {
  width: 100%;
}

.hidden {
  display: none;
}

button {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-button);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

nav, footer {
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.modal-member {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  width: 350px;
  min-height: 150px;
  background-color: #faf4f4fb;
  border-radius: 5px;
  padding: 1.3rem;
  -ms-flex-item-align: center;
      align-self: center;
  top: 50%;
  margin-top: 85px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  z-index: 2;
  width: 350px;
  min-height: 300px;
  background-color: #faf4f4fb;
  border-radius: 5px;
  padding: 1.3rem;
  gap: 0.4rem;
}

.btn-close-member {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1rem;
  padding: .5rem .7rem;
  border-radius: 50%;
}

.btn-close-member a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
}

form {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: .5rem;
  font-size: 2rem;
}

form label {
  font-weight: bold;
  font-size: 2.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

form input {
  border-radius: 5px;
  width: 100%;
}

form textarea {
  border-radius: 5px;
  height: 15rem;
  width: 24rem;
  outline: none;
  padding: 1rem;
  line-height: 1em;
  resize: none;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

form button {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */