* {
  margin: 0;
  padding: 0;
  border: 0;
  // box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  // height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: rgb(26, 178, 186);
  overflow: hidden;
  // position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-background: #b7eedc;
  --color-background-secondary:#68BD9E;
  --color-button:#8ED0B8;
  --color-button-secondary: #229169;
  --color-white: #FEFCFC;
  --color-black: rgb(41, 41, 41);
  --br-sm-2: 14px;
  --box-shadow-1: 0px 4px 4px rgba(0,0,0,.25);
}

body {
  // line-height: 1;
  // overflow: hidden;
  // margin: 200px;
  
  background: var(--color-background);
  // z-index: 1;
  height: 100vh;
  width: 100%;
  position: relative;
  nav {
    margin: 10px;
    position: relative;
    height: 50px;
    border-radius: 35px;
    z-index: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background: var(--color-white);
    h1 {
      // font-size: 3rem;
      // justify-self: start;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .content {
    margin: 10px;
    padding-bottom: 2.5rem;
  }
  
  footer {
    
    position: absolute;
    // z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px;
    height: 50px;
    // width: 100%;
    border-radius: 35px;
    background: var(--color-white)
  }
  .sec-background {
    // z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    // transform: rotate(270deg);
    svg {
      position: absolute;
      display: block;
      right: 0;
      fill: var(--color-background-secondary);
      transform: scale(10deg);
    }
  }
}

nav, footer {
  box-shadow:  var(--box-shadow-1);
}
